<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastroClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <url-pattern>/CadastroClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroFuncionarioServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastroFuncionarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroFuncionarioServlet</servlet-name>
        <url-pattern>/CadastroFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.DeletarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <url-pattern>/DeletarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlterarClientes</servlet-name>
        <servlet-class>br.senac.sp.servlet.AlterarClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarClientes</servlet-name>
        <url-pattern>/AlterarClientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarFuncionarios</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarFuncionarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarFuncionarios</servlet-name>
        <url-pattern>/ListarFuncionarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>